<%= form_tag "/my_contacts/#{@contact.id}", method: :patch do %>
  <div>
    First Name:
    <input type="text" name="first_name" value="<%= @contact.first_name %>">
  </div>
  <div>
    Middle Name:
    <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
  </div>
  <div>
    Last Name:
    <input type="text" name="last_name" value="<%= @contact.last_name %>">
  </div>

  <div>
    email:
    <input type="text" name="email" value="<%= @contact.email %>">
  </div>

  <div>
    Phone: 
    <input type="text" name="phone_number" value="<%= @contact.phone_number %>">
  </div>
  <div>
    Bio:
    <input type="text" name="bio" value="<%= @contact.bio %>">
  </div>
  <div>
    Address: 
    <input type="text" name="input_address" value="<%= @contact.address %>">
  </div>

  
  <div>
    <input type="submit" value="Update this contact.">
  </div>


<% end %>